$mw: 1200px;
$colorWhite: #ffffff;
$colorBlack: #000000;
$colorBlack2: #262626;
$colorBlack3: #323232;
$colorBlack4: #a0a0a0;
$colorRed: #ff0000;
$colorDodgerBlue1: #2980b9;
$colorDodgerBlue2: #2200ff;
$colorChocolate1: #7e5539;
$colorGreen1: #20a000;
$colorGreen2: #185226;
$colorDodgerBlue3: rgba(41, 128, 185, 0.43);
$clickByTouchColor0: rgba(0, 0, 0, 0);
$clickByTouchColor1: rgba(41, 128, 185, 0.43);