/* ===================================  Menu Burger  --Start--  =================================== */
/* ====================  Burger menu icon  --Start--  ==================== */
.menu__icon {
	position: fixed;
	bottom: 4%;
	left: 12px;
	width: 46px;
	height: 28px;
	background-color: $colorWhite;
	z-index: 9999;
	cursor: pointer;
	-webkit-tap-highlight-color: $clickByTouchColor0;
	transition: background-color 0.3s ease 0s;
	&._active {
		background-color: transparent;
	}
	& span,
	&::before,
	&::after {
		left: 0;
		position: absolute;
		height: 11%;
		width: 100%;
		transition: all 0.3s ease 0s;
		background-color: $colorBlack;
		box-shadow: 0px 0px 3px $colorBlack;
	}
	&::before,
	&::after {
		content: "";
	}
	&::before {
		top: 1px;
	}
	&::after {
		bottom: 1.5px;
	}
	span {
		top: 50%;
		transform: scale(1) translate(0px, -50%);
	}
	/* ====================  Burger menu icon on click  ==================== */
	&._active span{
		transform: scale(0);
	} 
	&._active::before {
		top: 50%;
		background-color: $colorWhite;
		box-shadow: 0px 0px 3px $colorWhite;
		transform: rotate(-45deg) translate(0px, -50%)
	}
	&._active::after {
		bottom: 50%;
		background-color: $colorWhite;
		box-shadow: 0px 0px 3px $colorWhite;
		transform: rotate(45deg) translate(0px, 50%)
	}
}
/* ====================  Burger menu icon  --End--  ==================== */
/* ====================  Menu body  --Start--  ==================== */
.menu__body {
	position: fixed;
	top: 0px;
	left: -100%;
	width: 100%;
	height: 100%;
	padding: 100px 30px 30px 30px;
	transition: left 0.5s ease 0s;
	background-color: rgba(0, 0, 0, 0.95);
	overflow-y: auto;
	z-index: 9998;
	&._active {
		left: 0px;
	}
}
.menu__list {
	margin: 0px 20%;
	position: relative;
	z-index: 1200;
	display: flex;
	flex-direction: column;
	justify-content: center;
	li {
		width: 100%;
		display: flex;
		justify-content: center;
		&:last-child a {
			color: $colorRed;
			text-decoration: line-through;
		}
	}
	& > li {
		flex-wrap: wrap;
		margin: 0px 0px 0px 0px;
	}
}
/* ====================  Menu list  ==================== */
.menu__link {
	padding: 14px 0px;
    margin: 6px 0px;
	width: 100%;
	font-size: 1.6em;
	font-weight: bold;
	color: $colorWhite;
	text-align: center;
	cursor: pointer;
	user-select: none;
	transition: all 0.6s ease 0s;
	-webkit-tap-highlight-color: $clickByTouchColor1;
	&:hover {
		background-color: $colorDodgerBlue3;
	}
}
/* ====================  Menu body  --End--  ==================== */
/* ===================================  Menu Burger  --End--  =================================== */