/* ====================  Dropdown List  --Start--  ==================== */
.menu__list_sublist-title {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
}
/* ====================  Icon dropdown list  ==================== */
.menu__arrow {
	margin: 0px 0px 0px 10px;
	.menu__list .menu__list_body > li._active & { 
		transform: rotate(-180deg);
	}
}
.menu__sub_list {
	margin: 10px 0px 0px;
	position: relative;
	background-color: #ffffff;
	display: none;
	.menu__list .menu__list_body > li._active & {
		display: block;
	}
}
.menu__sub_link {
	width: 100%;
	color: #000000;
	font-size: calc(20px + (22 - 20) * ((100vw - 320px) / (767 - 320)));
}
/* ====================  Dropdown List  --End--  ==================== */