@charset "UTF-8";
/* =============================================  Zeroing  --Start--  ============================================= */
* {
    padding: 0px 0px;
    margin: 0px 0px;
    border: 0;
}
*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus, :active,
a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    line-height: 1;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
		-moz-text-size-adjust: 100%;
			-webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0px 0px;
    border: 0;
}

a,
a:visited {
  	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:hover {
  	text-decoration: none;
}

ul li {
    list-style: none;
}

img {
	width: 100%;
	height: 100%;
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}
/* ====================  If JavaScript is disabled  --Start--  ==================== */
noscript {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.97);
	z-index: 9999999999999999;
}
.noscript__content {
	padding: 4px 12px;
	text-align: center;
}
.noscript__text {
	color: #ffffff;
	font-size: 1em;
	font-weight: 700;
	line-height: 160%;
}
.noscript__text a {
	color: #33ff00;
}
/* ====================  If JavaScript is disabled  --End--  ==================== */
/* =============================================  Zeroing  --End--  ============================================= */



/* =============================================  My Code  --Start--  ============================================= */





body {
	width: 100%;
	min-height: 100%;
	overflow-x: hidden;
	font-size: 16px;
	color: #ffffff;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.passwords__body {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
	height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(10, 7, 15);
    z-index: 95;
    overflow: hidden;
}
.passwords__form {
	margin: 0px 4px;
    max-width: 400px;
	width: 100%;
    border-radius: 4px;
    background: #185226;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.passwords__content {
	padding: 70px 4px;
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.passwords__form_title {
	line-height: 180%;
	text-align: center;
}
.passwords__form_title:nth-child(1) {
	font-size: 1.4em;
	font-weight: 700;
	letter-spacing: 2px;
}
.passwords__form_title:nth-child(2) {
	font-size: 1em;
	font-weight: 700;
	letter-spacing: 1.4px;
}
.passwords__form_title:nth-child(2) span {
	text-decoration: underline;
	letter-spacing: 1.8px;
}
.passwords__content input {
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}
.passwords__content input:hover,
.passwords__content input:focus {
    box-shadow: 0px 0px 16px #b6b4b4;
}
.passwords__form_input {
	padding: 4px 8px;
    margin: 40px 2px 26px;
    max-width: 90%;
	width: 100%;
	height: 40px;
}
.passwords__form_button {
	padding: 14px 2px;
	margin: 8px 2px;
	width: 40%;
	font-weight: 700;
	letter-spacing: 1.8px;
    display: flex;
    justify-content: center;
}



/* ====================  Menu body  --Start--  ==================== */
.header__menu  {
	position: fixed;
	left: 12px;
	bottom: 7.6%;
	z-index: 100;
}
.menu__body {
	position: fixed;
	top: 0px;
	left: -100%;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-transition: left 0.5s ease 0s;
		-o-transition: left 0.5s ease 0s;
			transition: left 0.5s ease 0s;
	background-color: rgba(0, 0, 0, 0.85);
	z-index: 100;
	overflow-y: auto;
}
.menu__body._active {
	left: 0px;
}
/* ===================================  Menu Burger  --Start--  =================================== */
/* ====================  Burger menu icon  --Start--  ==================== */
.menu__icon {
	z-index: 5;
	display: block;
	position: relative;
	width: 38px;
	height: 22px;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(68, 178, 195, 38%);
}
.menu__icon span,
.menu__icon::before,
.menu__icon::after {
	left: 0;
	position: absolute;
	height: 10%;
	width: 100%;
	-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
			transition: all 0.3s ease 0s;
	background-color: #ffffff;
	box-shadow: 0px 0px 3px #ffffff;
}
.menu__icon::before,
.menu__icon::after {
	content: "";
}
.menu__icon::before {
	top: 0px;
}
.menu__icon::after {
	bottom: 0px;
}
.menu__icon span {
	top: 50%;
	transform: scale(1) translate(0px, -50%);
}
/* ====================  Burger menu icon on click  ==================== */
.menu__icon._active span{
	transform: scale(0);
} 
.menu__icon._active::before {
	top: 50%;
	transform: rotate(-45deg) translate(0px, -50%)
}
.menu__icon._active::after {
	bottom: 50%;
	transform: rotate(45deg) translate(0px, 50%)
}
/* ====================  Burger menu icon  --End--  ==================== */
.menu__list {
	padding: 0px 5%;
	position: relative;
	z-index: 100;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.menu__list li {
	display: -webkit-box;
		display: -ms-flexbox;
			display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
}
.menu__list > li {
	position: relative;
}
.menu__link {
	padding: 14px 0px;
    margin: 6px 0px;
	width: 100%;
	font-size: 1em;
	font-weight: bold;
	color: #ffffff;
	text-align: center;
	cursor: pointer;
	user-select: none;
}
.menu__list > li:last-child .menu__link {
	color: #00ff14;
}
.menu__link:hover {
	text-decoration: underline;
}
/* ====================  PC for MOBILE  --Start--  ==================== */
body._mobile .menu__list > li {
	-ms-flex: 1 1 auto;
		-webkit-box-flex: 1;
	        flex: 1 1 auto;
}
body._mobile .menu__list > li {
	display: -webkit-box;
		display: -ms-flexbox;
			display: flex;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
}
/* ====================  PC for MOBILE  --End--  ==================== */
/* ===================================  Menu body  --End--  =================================== */
/* =============================================  My Code  --End--  ============================================= */