/* ===================================  Max-Width 420px  --Start--  =================================== */
@media screen and (max-width: 420px) {
	.menu__list {
		margin: 0px 2px;
	}
}
/* ===================================  Max-Width 420px  --Start--  =================================== */
/* ===================================  Max-Width 360px  --Start--  =================================== */
@media screen and (max-width: 360px) {
	.up__button_icon {
		width: 54px;
		height: 54px;
	}
	.form__new_button {
		max-width: 80%;
	}
	.form__password {
		&_content {
			.popup__help_password & {
				padding: 42px 4px 8px;
			}
			&-body {
				flex-wrap: wrap;
			}
		}
		.popup__help_password &_button {
			padding: 12px 8px;
			margin: calc(4px + (8 - 4) * ((100vw - 250px) / (360 - 250))) calc(4px + (16 - 4) * ((100vw - 250px) / (767 - 250)));
			max-width: 45%;
			width: 100%;
		}
	}
	.formpanel .form__checkbox_button {
		font-size: calc(10px + (14 - 10) * ((100vw - 250px) / (360 - 250)));
	}
	.formpanel__column label { 
		font-size: calc(12px + (18 - 12) * ((100vw - 250px) / (360 - 250)));
	}
}
/* ===================================  Max-Width 360px  --End--  =================================== */