@charset "UTF-8";
/* =============================================  Zeroing  --Start--  ============================================= */
* {
    padding: 0px 0px;
    margin: 0px 0px;
    border: 0;
}
*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus, :active,
a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    line-height: 1;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
		-moz-text-size-adjust: 100%;
			-webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0px 0px;
    border: 0;
}

a,
a:visited {
  	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:hover {
  	text-decoration: none;
}

ul li {
    list-style: none;
}

img {
	width: 100%;
	height: 100%;
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}
/* ====================  If JavaScript is disabled  --Start--  ==================== */
noscript {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.97);
	z-index: 9999999999999999;
}
.noscript__content {
	padding: 4px 12px;
	text-align: center;
}
.noscript__text {
	color: #ffffff;
	font-size: 1em;
	font-weight: 700;
	line-height: 160%;
}
.noscript__text a {
	color: #33ff00;
}
/* ====================  If JavaScript is disabled  --End--  ==================== */
/* =============================================  Zeroing  --End--  ============================================= */



/* =============================================  My Code  --Start--  ============================================= */





body {
	width: 100%;
	min-height: 100%;
	overflow-x: hidden;
	font-size: 16px;
	color: #ffffff;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.content {
    display: block;
}
.content._done {
    display: none;
}
.popup__body {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
	height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    z-index: 999999999999999999999999999999999999999999999999;
	overflow-y: auto;
    opacity: 1;
    visibility: visible;
	transition:all .5s ease 0s;
}
.popup__body._active {
    opacity: 0;
    visibility: hidden;
}
.form {
	margin: 40px 4px;
    max-width: 96%;
	width: 100%;
    background: #185226;
    border-radius: 4px;
    display: flex;
    justify-content: center;
}
.form__content {
	padding: 40px 2px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.form__img{
    display: flex;
    justify-content: center;
}
.img__user {
    width: 85px;
    height: 85px;
    background-color: rgb(21, 192, 235);
    border-radius: 50%;
}
input {
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}
input:hover,
input:focus {
    box-shadow: 0px 0px 20px #b6b4b4;
}
.form__input._error {
    box-shadow: 0px 0px 20px #ff0000;
}
.form__input {
	padding: 20px 14px;
	margin: 45px 0px 12px;
	max-width: 92%;
	width: 100%;
	font-size: 0.9em;
	font-weight: 700;
	letter-spacing: 2px;
}

.form__button {
    padding: 20px 26px;
    margin: 12px 0px;
	max-width: 60%;
    width: 100%;
	color: #575757;
	font-size: 0.9em;
	font-weight: 700;
	letter-spacing: 1.8px;
	display: flex;
    justify-content: center;
	text-transform: uppercase;
}
.passwords__body {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
	height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(10, 7, 15);
    z-index: 95;
    overflow-y: auto;
}
.passwords__form {
	margin: 0px 4px;
    max-width: 400px;
	width: 100%;
    border-radius: 4px;
    background: #185226;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.passwords__content {
	padding: 70px 4px;
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.passwords__form_title {
	line-height: 180%;
	text-align: center;
}
.passwords__form_title:nth-child(1) {
	font-size: 1.4em;
	font-weight: 700;
	letter-spacing: 2px;
}
.passwords__form_title:nth-child(2) {
	font-size: 1em;
	font-weight: 700;
	letter-spacing: 1.4px;
}
.passwords__form_title:nth-child(2) span {
	text-decoration: underline;
	letter-spacing: 1.8px;
}
.passwords__content input {
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}
.passwords__content input:hover,
.passwords__content input:focus {
    box-shadow: 0px 0px 16px #b6b4b4;
}
.passwords__form_input {
	padding: 4px 8px;
    margin: 40px 2px 26px;
    max-width: 90%;
	width: 100%;
	height: 50px;
}
.passwords__form_button {
	padding: 14px 2px;
	margin: 8px 2px;
	width: 40%;
	font-weight: 700;
	letter-spacing: 1.8px;
    display: flex;
    justify-content: center;
	text-transform: uppercase;
}



/* ====================  Menu body  --Start--  ==================== */
.header__menu  {
	position: fixed;
	left: 12px;
	bottom: 7.2%;
	z-index: 100;
}
.menu__body {
	position: fixed;
	top: 0px;
	left: -100%;
	width: 100%;
	height: 100%;
	-webkit-transition: left 0.5s ease 0s;
		-o-transition: left 0.5s ease 0s;
			transition: left 0.5s ease 0s;
	background-color: rgba(0, 0, 0, 0.85);
	padding: 100px 30px 30px 30px;
	z-index: 100;
	overflow-y: auto;
}
.menu__body._active {
	left: 0px;
}
/* ===================================  Menu Burger  --Start--  =================================== */
/* ====================  Burger menu icon  --Start--  ==================== */
.menu__icon {
	z-index: 5;
	display: block;
	position: relative;
	width: 44px;
    height: 28px;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(68, 178, 195, 38%);
}
.menu__icon span,
.menu__icon::before,
.menu__icon::after {
	left: 0;
	position: absolute;
	height: 10%;
	width: 100%;
	-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
			transition: all 0.3s ease 0s;
	background-color: #ffffff;
	box-shadow: 0px 0px 3px #ffffff;
}
.menu__icon::before,
.menu__icon::after {
	content: "";
}
.menu__icon::before {
	top: 0px;
}
.menu__icon::after {
	bottom: 0px;
}
.menu__icon span {
	top: 50%;
	transform: scale(1) translate(0px, -50%);
}
/* ====================  Burger menu icon on click  ==================== */
.menu__icon._active span{
	transform: scale(0);
} 
.menu__icon._active::before {
	top: 50%;
	transform: rotate(-45deg) translate(0px, -50%)
}
.menu__icon._active::after {
	bottom: 50%;
	transform: rotate(45deg) translate(0px, 50%)
}
/* ====================  Burger menu icon  --End--  ==================== */
.menu__list {
	margin: 0px 12%;
	position: relative;
	z-index: 100;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.menu__list li {
	display: -webkit-box;
		display: -ms-flexbox;
			display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
}
.menu__list > li {
	position: relative;
}
.menu__link {
	padding: 14px 0px;
    margin: 6px 0px;
	width: 100%;
	font-size: 1.4em;
	font-weight: bold;
	color: #ffffff;
	text-align: center;
	cursor: pointer;
	user-select: none;
}
.menu__list > li:last-child .menu__link {
	color: #00ff14;
}
.menu__link:hover {
	text-decoration: underline;
}
/* ====================  PC for MOBILE  --Start--  ==================== */
body._mobile .menu__list > li {
	-ms-flex: 1 1 auto;
		-webkit-box-flex: 1;
	        flex: 1 1 auto;
}
body._mobile .menu__list > li {
	display: -webkit-box;
		display: -ms-flexbox;
			display: flex;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
}
/* ====================  PC for MOBILE  --End--  ==================== */
/* ===================================  Menu body  --End--  =================================== */
.menu__passwords_form {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.menu__passwords_form .passwords__form_input {
    margin: 20px 2px 26px;
	max-width: 70%;
}
/* =============================================  My Code  --End--  ============================================= */

/* --------------------  Для ПК --Начало--  -------------------- */
@media (min-width: 767px){
	.form__search_input {
		max-width: 34%;
		width: 100%;
		padding: 0px 14px;
	}
	.header__title_text {
		position: absolute;
		right: 5%;
		top: 12px;
		max-width: 45px;
		width: 100%;
		height: 26px;
		border: solid 1px #006eff;
		background-color: #ffffff;
		border-radius: 12px;
		-webkit-transition: all .3s ease 0s;
			-o-transition: all .3s ease 0s;
				transition: all .3s ease 0s;
		-webkit-tap-highlight-color: transparent;
		user-select: none;
		cursor: pointer;
		opacity: 0;
	}
	.header__title_text._active{
		background-color: #006eff;
	}
	.header__title_text span {
		position: absolute;
		top: 8.7%;
		left: 2px;
		width: 20px;
		height: 20px;
		border-radius: 12px;
		background-color: #006eff;
		-webkit-tap-highlight-color: transparent;
		-webkit-transition: all .3s ease 0s;
			-o-transition: all .3s ease 0s;
				transition: all .3s ease 0s;
	}
	.header__title_text span._active {
		position: absolute;
		left: 50%;
		background-color: #ffffff;
	}
	.form {
        max-width: 550px;
        width: 100%;
    }
    .img__user {
        width: 120px;
        height: 120px;
    }
	.form__input {
		padding: 18px 14px;
		margin: 45px 2px 15px;
		max-width: 85%;
		font-size: 1em;
		letter-spacing: 2px;
	}
	.form__button {
		padding: 18px 26px;
		margin: 15px 2px;
		max-width: 40%;
		width: 100%;
		color: #575757;
		font-size: 0.9em;
		font-weight: 700;
		letter-spacing: 1.8px;
		display: flex;
		justify-content: center;
	
	}
@supports (-webkit-appearance:none){}
}
/* --------------------  Для ПК --Конец--  -------------------- */




/* --------------------  Для Моб.Тел. --Начало--  -------------------- */
@media (max-width: 767px){
	/* ====================  NoScrript  --Start--  ==================== */
	.noscript__text {
		font-size: calc(10px + (13 - 10) * ((100vw - 320px) / (767 - 320)));
	}
	/* ====================  NoScrript  --Start--  ==================== */
	.form__search_input {
		height: 48px;
	}
	.form__search_back {
		width: 48px;
		height: 48px;
	}
	/* --------------------  Page --Начало--  -------------------- */
	.page {
		padding: 56px 0px 30px 0px;
	}
	.page__section {
		padding: 8px;
	} 
	.page__body {
		text-align: center;
	}
	.page__body_text {
		flex-direction: column;
	}
	.page__body_p {
		width: 100%;
	}
	.header__title_text {
		display: none;
	}
	.page__section._done {
		display: block;
	}
	.menu__list {
		padding: 30% 2px 0px;
		margin: 0px 0px;
	}
	.menu__passwords_form .passwords__form_input {
		max-width: 100%;
	}
	/* --------------------  Page --Конец--  -------------------- */
@supports (-webkit-appearance:none){}
}
/* ===================================  Max-Width 767px  --End--  =================================== */
/* ===================================  For Mobile  --End--  =================================== */
