/* --------------------  Обнуление --Начало--  -------------------- */
*,
*::before,
*::after {
	margin: 0px 0px;
	padding: 0px 0px;
	border: 0;
	-webkit-box-sizing: border-box;
		box-sizing: border-box;
}
/* --------------------  Убираем линию под ссылками  -------------------- */
a {
	text-decoration: none;
}
/* --------------------  Убираем маркировку  -------------------- */
ul,
ol,
li {
	list-style: none;
}
/* --------------------  Убираем   -------------------- */
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
/* --------------------  Обнуление --Конец--  -------------------- */




body {
	width: 100%;
	min-height: 100%;
	overflow-x: hidden;
	font-size: 16px;
	color: #ffffff;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.passwords__body {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
	height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(10, 7, 15);
    z-index: 999999999999999999999999999999999999999999999999;
    overflow: hidden;
}
.passwords__form {
    max-width: 400px;
	width: 100%;
    border-radius: 4px;
    background: #185226;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.passwords__content {
	padding: 70px 4px;
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.passwords__form_title {
	line-height: 180%;
	text-align: center;
}
.passwords__form_title:nth-child(1) {
	font-size: 1.4em;
	font-weight: 700;
	letter-spacing: 2px;
}
.passwords__form_title:nth-child(2) {
	font-size: 1em;
	font-weight: 700;
	letter-spacing: 1.4px;
}
.passwords__form_title:nth-child(2) span {
	text-decoration: underline;
	letter-spacing: 1.8px;
}
.passwords__content input {
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}
.passwords__content input:hover,
.passwords__content input:focus {
    box-shadow: 0px 0px 14px #b6b4b4;
}
.passwords__form_input {
	padding: 4px 8px;
    margin: 40px 2px 26px;
    max-width: 90%;
	width: 100%;
	height: 40px;
}
.passwords__form_input._error {
    box-shadow: 0px 0px 14px #ff0000;
}
.passwords__form_button {
	padding: 14px 2px;
	margin: 8px 2px;
	width: 40%;
	font-weight: 700;
    display: flex;
    justify-content: center;
}